body {
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.pagecontainer {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .pagecontainer {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .pagecontainer {
    width: 91%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
  width: 100%;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__menu-button {
  border: none;
  background-color: transparent;
  min-height: 75px;
}

.header__link {
  margin: 0 0 0 33px;
}

@media (max-width: 1399px) {
  .header__logo {
    margin: 0 41px 0 16px;
  }
  .header__link {
    margin: 0 0 0 25px;
  }
  .header__link--tablet-margin {
    margin: 0 16px 0 25px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 0 41px 0 0;
  }
  .header__link {
    display: none;
  }
}

.header__menu-button:hover + .header__navigation,
.header__menu-button:focus + .header__navigation {
  display: block;
}

.header__navigation:hover {
  display: block;
}

.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 34px;
  font-size: 14px;
}

.header__navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 24px;
}

.header__navigation-title {
  text-transform: uppercase;
  color: #222222;
}

.header__navigation {
  position: absolute;
  width: 332px;
  height: 765px;
  top: 62px;
  right: -142px;
  background: #FFFFFF;
  display: none;
  margin-top: 13px;
  z-index: 99999;
}

.navigation-item__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 54px;
}

.navigation-item__link {
  margin-top: 24px;
}

.navigation-item__sublist-link:first-child {
  margin-top: 13px;
}

.navigation-item__link {
  text-transform: uppercase;
  color: #F16D7F;
}

.navigation-item__sublist-link {
  margin-top: 11px;
  color: #222222;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand .brand__image {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .brand .brand__image {
    display: none;
  }
}

.brand .brand__heading-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1399px) {
  .brand .brand__heading-wrapper {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 767px) {
  .brand .brand__heading-wrapper {
    padding: 0 0 0 83px;
    min-height: 363px;
  }
}

.brand .brand__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 1399px) {
  .brand .brand__heading {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__heading {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__heading::before {
  content: '';
  width: 10px;
  height: 100%;
  background-color: #F16D7F;
  position: absolute;
  top: 0;
  left: -20px;
}

.brand .brand__heading-text {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1399px) {
  .brand .brand__heading-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__heading-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__heading-text--red {
  color: #F16D7F;
}

.products__heading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 203px;
}

.products__heading {
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 6px;
}

.products__text {
  font-size: 14px;
  font-weight: 400;
  color: #9F9F9F;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.products__item {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 1399px) {
  .products__item {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .products__item {
    width: 100%;
  }
}

@media (max-width: 1399px) {
  .products__item--hide-tablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .products__item--hide-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .products__item--hide-mobile {
    display: none;
  }
}

.products__item:hover .products__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__item-img-wrapper {
  width: 100%;
  background-color: #222222;
  overflow: hidden;
}

.products__item-img {
  width: 100%;
  height: 100%;
}

.products__item-img:hover {
  opacity: 0.5;
}

.products__item-img-wrapper--pink {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__item-img-wrapper--pink:hover {
  opacity: 0.5;
}

.products__item-heading {
  margin-top: 25px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.products__item-header {
  margin-top: 25px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.products__item-text {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 18px;
}

.products__item-price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.products__item-button {
  position: absolute;
  top: 30%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  width: 138px;
  height: 43px;
  color: #FFFFFF;
  border-width: 1px;
  border-color: #FFFFFF;
  border-style: #FFFFFF;
}

.products__allbutton-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 191px;
}

.products__allbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 47px;
  width: 134px;
  background-color: #F16D7F;
}

@media (max-width: 1399px) {
  .products__allbutton {
    border-width: 1px;
    border-color: #F16D7F;
    border-style: solid;
    background-color: #FFFFFF;
  }
}

@media (max-width: 767px) {
  .products__allbutton {
    border-width: 1px;
    border-color: #F16D7F;
    border-style: solid;
    background-color: #FFFFFF;
  }
}

.allbutton-item__link {
  color: #FFFFFF;
}

@media (max-width: 1399px) {
  .allbutton-item__link {
    color: #F16D7F;
  }
}

@media (max-width: 767px) {
  .allbutton-item__link {
    color: #F16D7F;
  }
}

.stocks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  margin-top: 65px;
}

.stocks__item {
  width: 31%;
  min-height: 260px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1399px) {
  .stocks__item {
    min-height: 167px;
  }
}

@media (max-width: 767px) {
  .stocks__item {
    width: 100%;
    min-height: 248px;
    margin-bottom: 32px;
  }
}

.stocks__item-text {
  font-size: 16px;
  color: #FFFFFF;
}

.stocks__item-header {
  font-size: 24px;
  color: #F16D7F;
}

.stocks__item--woman {
  background-image: url(../img/womangarmentb.jpg);
}

.stocks__item--man {
  background-image: url(../img/mangarmentb.jpg);
}

.stocks__item--kids {
  background-image: url(../img/childgarmentb.jpg);
}

.stocks__item--accessories {
  width: 100%;
  background-image: url(../img/footwearb.jpg);
  min-height: 180px;
  margin-top: 30px;
}

@media (max-width: 1399px) {
  .stocks__item--accessories {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .stocks__item--accessories {
    margin-top: 0px;
    min-height: 111px;
  }
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 341px;
  background-color: #222222;
}

.promo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.promo__item {
  width: 30%;
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1399px) {
  .promo__item {
    width: 100%;
    min-height: 342px;
  }
}

.promo__item-heading {
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 28px;
  margin-bottom: 16px;
}

.promo__item-text {
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}

.callback {
  background-size: cover;
  background-image: url(../img/layer.png);
  width: 100%;
  opacity: 1;
}

.callback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 448px;
}

.callback__list-item {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1399px) {
  .callback__list-item {
    width: 100%;
    min-height: 50%;
  }
}

@media (max-width: 767px) {
  .callback__list-item {
    width: 100%;
    min-height: 50%;
  }
}

.callback__list-item-form-header {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.callback__list-item-form-bottom {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-align: center;
}

.callback__list-item-form-email {
  height: 49px;
  width: 260px;
  border: none;
  background-color: #F8F8F8;
  border-radius: 20px 0 0 20px;
}

.callback__list-item-form-button {
  height: 55px;
  width: 75px;
  margin-left: -5px;
  color: #FFFFFF;
  border: none;
  background-color: #F16D7F;
  border-radius: 0 20px 20px 0;
}

.callback__list-item-citation {
  width: 359px;
  height: 99px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.regheader {
  background-color: #F1E4E6;
  color: #F16D7F;
  width: 100%;
}

.regheader__title {
  min-height: 148px;
  font-size: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .regheader__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.productheader {
  background-color: #F1E4E6;
  color: #F16D7F;
  width: 100%;
}

.productheader__title {
  min-height: 148px;
  font-size: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .productheader__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.productheader__title-item {
  width: 100%;
}

@media (max-width: 767px) {
  .productheader__title-item {
    text-align: center;
  }
}

.productheader__title-item--right {
  text-align: right;
}

@media (max-width: 767px) {
  .productheader__title-item--right {
    text-align: center;
  }
}

.productheader__title-item--gray {
  font-weight: 300;
  color: #9F9F9F;
}

.carousel-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 789px;
  z-index: 22;
}

.carousel-wrapper {
  background-color: #F8F8F8;
}

.carousel-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #9F9F9F;
  width: 27px;
  height: 27px;
}

.teaser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teaser__block {
  min-height: 601px;
  margin-top: -65px;
  z-index: 999999;
  background-color: #FFFFFF;
  border-width: 1px;
  border-color: #F8F8F8;
  border-style: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

@media (max-width: 1399px) {
  .teaser__block {
    margin-top: 0px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 100%;
  }
}

.teaser__block-header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  color: #F16D7F;
  position: relative;
}

.teaser__block-header::before {
  content: '';
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
  position: absolute;
  top: 30px;
  left: 43px;
}

.teaser__block-highlight {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}

.teaser__block-text {
  width: 50%;
  text-align: center;
  line-height: 17px;
  font-size: 14px;
  font-weight: 300;
}

.teaser__block-price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}

.teaser__block-price::before {
  content: '';
  width: 641px;
  height: 1px;
  background-color: #9F9F9F;
  position: absolute;
  top: 65px;
  left: -280px;
}

@media (max-width: 767px) {
  .teaser__block-price::before {
    width: 174px;
    left: -62px;
  }
}

.teaser__block-items {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teaser__block-items-item {
  position: relative;
}

.teaser__block-items-item::after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;
  top: 8px;
  right: -10px;
  background-image: url(../img/downarrow.png);
}

.teaser__block-button {
  width: 211px;
  height: 47px;
  color: #F16D7F;
  font-size: 16px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 1px;
  border-color: #F16D7F;
  border-style: solid;
}

.reg {
  margin-top: 50px;
}

.reg__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.reg__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reg__list-item--short {
  width: 45%;
  min-height: 675px;
}

@media (max-width: 767px) {
  .reg__list-item--short {
    width: 100%;
    min-height: 675px;
  }
}

.reg__list-item--long {
  width: 55%;
  min-height: 675px;
}

@media (max-width: 767px) {
  .reg__list-item--long {
    width: 100%;
    min-height: 416px;
  }
}

.reg__form-button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
}

.reg__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.reg__form-radio-wrapper {
  margin-top: 31px;
  margin-bottom: 33px;
}

.reg__form-radio-input {
  width: 17px;
  height: 17px;
}

.reg__form-text-input {
  margin-bottom: 20px;
  width: 80%;
  height: 45px;
}

@media (max-width: 767px) {
  .reg__form-text-input {
    width: 100%;
  }
}

.reg__form-label {
  font-size: 16px;
  margin-bottom: 33px;
}

.reg__form-label--notification {
  font-size: 13px;
  color: #9F9F9F;
  margin-bottom: 55px;
}

.reg__form-radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg__block {
  font-size: 24px;
  line-height: 1.5;
}

.reg__block-header {
  text-transform: uppercase;
  margin-bottom: 22px;
}

.reg__block-description {
  margin-bottom: 21px;
}

.reg__block-checklist {
  margin-bottom: 16px;
}

.reg__block-checklist:before {
  content: "\2713\0020";
}

.cart__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 96px;
}

@media (max-width: 1399px) {
  .cart__section {
    margin-top: 59px;
  }
}

@media (max-width: 767px) {
  .cart__section {
    margin-top: 39px;
  }
}

.cart__section-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1399px) {
  .cart__section-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart__section-item--short {
  width: 40%;
  min-height: 998px;
}

@media (max-width: 1399px) {
  .cart__section-item--short {
    width: 100%;
    min-height: 675px;
  }
}

@media (max-width: 767px) {
  .cart__section-item--short {
    width: 100%;
    min-height: 675px;
  }
}

.cart__section-item--long {
  width: 60%;
  min-height: 998px;
}

@media (max-width: 1399px) {
  .cart__section-item--long {
    width: 100%;
    min-height: 387px;
  }
}

@media (max-width: 1399px) {
  .cart__section-item--long {
    width: 100%;
    min-height: 508px;
  }
}

.cart-merch__item {
  height: 306px;
  width: 652px;
  -webkit-box-shadow: 10px 12px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 10px 12px 8px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .cart-merch__item {
    margin-bottom: 32px;
    height: 188px;
    width: 358px;
  }
}

@media (max-width: 767px) {
  .cart-merch__item-image {
    margin-bottom: 32px;
    height: 188px;
    width: 144px;
  }
}

.cart-merch__item-description {
  margin-left: 31px;
  margin-right: 22px;
  width: 100%;
}

@media (max-width: 767px) {
  .cart-merch__item-description {
    margin-left: 17px;
    margin-right: 17px;
  }
}

.cart-merch__buttons {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1399px) {
  .cart-merch__buttons {
    width: 508px;
  }
}

@media (max-width: 767px) {
  .cart-merch__buttons {
    width: 358px;
  }
}

.merch-description__header {
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 36px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 28.8px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .merch-description__header {
    margin-top: 13px;
    font-size: 16px;
    line-height: 19.2px;
    margin-bottom: 21px;
  }
}

.merch-description__header-del {
  cursor: pointer;
}

.merch-description__header-del:hover {
  color: #9F9F9F;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.merch-description__item {
  margin-top: 6px;
  line-height: 26px;
  font-size: 22px;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .merch-description__item {
    margin-top: 4px;
    font-size: 14px;
    line-height: 16.8px;
  }
}

.merch-description__item-price {
  color: #F16D7F;
}

.merch-description__item-input {
  margin-left: 24px;
  width: 44px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .merch-description__item-input {
    width: 13px;
    height: 6px;
  }
}

.merch-description__item-input:focus {
  background-color: #F8F8F8;
}

.merch-button__item {
  margin-top: 32.5px;
  height: 49px;
  width: 243px;
  background-color: transparent;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .merch-button__item {
    margin-top: 7px;
    height: 32px;
    width: 174px;
    font-size: 12px;
    text-transform: capitalize;
  }
}

.cart-apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1399px) {
  .cart-apply {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .cart-apply {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart-apply__header {
  width: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-apply__header-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.cart-apply__header-input {
  width: 350px;
  height: 45px;
  margin-bottom: 20px;
}

.cart-apply__header-button {
  width: 100px;
  height: 34px;
  font-size: 11px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 57px;
  cursor: pointer;
}

.cart-apply__submit {
  height: 214px;
  width: 358px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

@media (max-width: 1399px) {
  .cart-apply__submit {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .cart-apply__submit {
    margin-top: 0px;
  }
}

.cart-apply__submit-price {
  margin-right: 34px;
  text-transform: uppercase;
}

.cart-apply__submit-price--small {
  font-size: 11px;
}

.cart-apply__submit-price--large {
  font-size: 16px;
}

.cart-apply__submit-button {
  width: 273px;
  height: 50px;
  color: #FFFFFF;
  background-color: #F16D7F;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
}

.footer {
  background-color: #222222;
}

.footer__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper-rights {
  color: #FFFFFF;
}

.footer__wrapper-socnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socnets__wrapper {
  margin-right: 12px;
  background-color: #FFFFFF;
  width: 23px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-socnets__wrapper--pink {
  background-color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */