body {
    font-family: Lato;
    @include font();
}

.container {
    width: 80%;
    margin: 0 auto;

    @include tablet {
        width: 96%;
    }

    @include mobile {
        width: 91%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}