.callback__background {
    background-size: cover;
    background-image: url(../img/landscape.jpg); 
    width: 100%;
    opacity: 1;    
}

.callback__list {
    @include flex-center(row);
    flex-wrap: wrap;
    width: 100%; 
    min-height: 448px;
    
}

.callback__list-item {
    width: 50%;
    height: 100%; 
    @include flex-center;
          
    @include tablet {
        width: 100%;
        min-height: 50%;
    }

    @include mobile {
        width: 100%;
        min-height: 50%;
    }
}

.callback__list-item-form-header {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.callback__list-item-form-header--bottom {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.callback__list-item-form-email {
    height: 49px;
    width: 280px;
    border: none;
    background-color: $lightgraycolor;
    border-radius: 20px 0 0 20px;
}

.callback__list-item-form-button {
    height: 55px;
    width: 85px;
    margin-left: -5px;
    color: $whitecolor;
    border: none;
    background-color: $redcolor;
    border-radius: 0 20px 20px 0;
}

.callback__list-item-citation {
    width: 359px;
    height: 99px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}