.footer {
    background-color: $blackcolor;

    &__wrapper {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    
    &__wrapper-rights {
        color: $whitecolor;
    }
    
    &__wrapper-socnet {
        display: flex;
        justify-content: space-around;
        align-items: center; 
        
    }
    
    &-socnets__wrapper {
        margin-right: 12px;
        background-color: $whitecolor;
        width: 23px;
        height: 24px;
        @include flex-center;

        &--pink {
            background-color: $redcolor;        
        }
        
    }
    

}

