.footer {
    background-color: $blackcolor;

    &__wrapper {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    
    &__wrapper-rights {
        color: $whitecolor;
    }
    
    &__wrapper-socnet {
        display: flex;
        justify-content: space-around;
        align-items: center; 
        
    }
    
    &-socnets__wrapper {
        margin-right: 12px;
        background-color: $whitecolor;
        
    }
    
    &-socnets__wrapper--pink {
        background-color: $redcolor;
        margin-right: 12px;
    }
}

