.products__heading-wrapper {
    @include flex-center;
    min-height: 203px;
}

.products__heading {
    font-size: 30px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 6px;
}

.products__text {
    font-size: 14px;
    font-weight: 400;
    color: $graycolor;
}

.products__list {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;    
    width: 100%;
    
}

.products__item {
    width: 32%;
    height: auto;

    @include tablet {
        width: 48%;
    }

    @include mobile {
        width: 100%;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;  
    background-color: $lightgraycolor;
    margin-bottom: 30px;
    position: relative;
}

.products__item:hover .products__item-button {
    display: block;
}

.products__item-img-wrapper--black {
    background-color: $blackcolor;
    height: 100%;
    overflow: hidden;
}

.products__item-img {
    width: 100%;
    height: auto;
}

.products__item-img:hover {
    opacity: 0.5;
}

.products__item-img-wrapper--pink {    
    background-color: $pinkcolor;    
    display: flex;
    justify-content: center;        
}

.products__item-img-wrapper--pink:hover {
    opacity: 0.5;
}

.products__item-heading {
    margin-top: 25px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.products__item-header {
    margin-top: 25px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.products__item-text {
    color: $graycolor;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}

.products__item-price {
    color: $redcolor;
    font-size: 16px;
    font-weight: 400;
}

.products__item-button {
    position: absolute;
    top: 30%;  
    left: 50%;
    display: none;   
    transform: translate(-50%, -50%);
}

.products__allbutton-wrapper {
    @include flex-center;  
    min-height: 191px;
    
}

.products__allbutton {
    @include flex-center;
    min-height: 47px;
    width: 134px;               
    background-color: $redcolor;      
    @include tablet {
        border-width:1px;
        border-color: $redcolor; 
        border-style: solid;
        background-color: $whitecolor;  
    }

    @include mobile {
        border-width:1px;
        border-color: $redcolor; 
        border-style: solid;
        background-color: $whitecolor;  
    }

}

.allbutton-item__link {  
    color: $whitecolor;

    @include tablet {
        color: $redcolor; 
    }

    @include mobile {
        color: $redcolor; 
    }
}