.promo {
    display: flex;
    width: 100%;
    min-height: 341px;
    background-color: $blackcolor;
}

.promo__list {
    display: flex;       
    justify-content: center;  
    flex-wrap: wrap;
    width: 100%; 
}

.promo__item {
    width: 30%;
    min-height: 341px;
    @include flex-center;
    
    @include tablet {
        width: 100%;
        min-height: 342px;
    }
    
}

.promo__item-heading {
    font-size: 20px;
    color: $whitecolor;
    margin-top: 28px;
    margin-bottom: 16px;
}

.promo__item-text {
    font-size: 14px;
    color: $whitecolor;
    text-align: center;
}