.stocks__list {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 65px;
}

.stocks__item {
    width: 31%;
    min-height: 260px;
    background-size: cover;
    @include flex-center;   
    @include tablet {
        min-height: 167px;
    }

    @include mobile {
        width: 100%;
        min-height: 248px;
        margin-bottom: 32px;
    }

}

.stocks__item-text {
    font-size: 16px;
    color: $whitecolor;
}

.stocks__item-header {
    font-size: 24px;
    color: $redcolor;
}

.stocks__item--woman {
    background-image: url(../img/womangarmentb.jpg);
}

.stocks__item--man {
    background-image: url(../img/mangarmentb.jpg);    
}

.stocks__item--kids {
    background-image: url(../img/childgarmentb.jpg);   
}

.stocks__item--accessories {
    width: 100%;
    background-image: url(../img/footwearb.jpg);    
    min-height: 180px;
    margin-top: 30px;

    @include tablet {
        min-height: 116px;
    }

    @include mobile {
        margin-top: 0px;
        min-height: 111px;
    }
}
